HELP.md
src/main/resources/application.yml
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
pg_data
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
logs/dump.sql
/src/main/resources/public/*
!/src/main/resources/public/.gitkeep


